{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^next(.*)",
    "^react(.*)",
    "^framer-motion(.*)",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/public/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false
}
