@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GWT";
  src: url("/fonts/강원교육튼튼.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GWS";
  src: url("/fonts/GangwonEduSaeeum_OTFMediumA.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-notoSansKR: var(--font-noto-sans-kr);

  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --blue-100: 232 72% 67%;
  --blue-200: 247 27% 21%;

  --gray-100: 0 0% 90%;
  --gray-200: 0 0% 54%;

  --yellow: 58 100% 79%;

  --background: var(--white);
  --foreground: var(--black);

  --primary: var(--blue-100);
  --primary-foreground: var(--blue-200);

  --text-secondary: var(--gray-200);
  --text-background: var(--gray-100);

  --highlight: var(--yellow);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: var(--blue-200);
  --primary-foreground: var(--blue-100);

  --text-secondary: var(--gray-200);
  --text-background: var(--blue-200);

  --highlight: var(--yellow);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-notoSansKR);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.button {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.button:hover {
  color: white;
}

.button:hover::before {
  transform: scaleX(1);
}
