@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GWT";
  src: url("/fonts/강원교육튼튼.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-notoSansKR: var(--font-noto-sans-kr);

  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --blue-100: 232 72% 67%;
  --blue-200: 247 27% 21%;

  --gray-100: 0 0% 90%;
  --gray-200: 0 0% 54%;

  --yellow: 58 100% 79%;

  --background: var(--white);
  --foreground: var(--black);

  --primary: var(--blue-100);
  --primary-foreground: var(--blue-200);

  --text-secondary: var(--gray-200);
  --text-background: var(--gray-100);

  --highlight: var(--yellow);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --text-background: var(--blue-200);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-notoSansKR);
}
